<!DOCTYPE html>
<html>
<head>
    <title>Materialise Slot Mashine</title>
    <link href="/img/site-icon.png" type="image/png" rel="icon">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="automate">
</div>
<script type="text/javascript" src="js/require.js"></script>
<script type="text/javascript">

</script>


<script type="text/javascript" src="js/require.js"></script>
{{!--<script src="js/prod/automat_prod.js"></script>--}}
<script type="text/javascript">
    require([
        './js/config'
    ], function(){
        require(['automat/main'])
    });
</script>

</body>
</html>
