<!DOCTYPE html>
<html>
<head>
    <title>slider</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="automate">
</div>
<script type="text/javascript" src="js/require.js"></script>
<script type="text/javascript">
    require([
        './js/automat'
    ], function(){
        require(['automat/main'])
    });
</script>

</body>
</html>
