/*--------- reset styles ----------*/
body {
  padding: 0;
  margin: 0;
  font: 13px Arial, Helvetica, Garuda, sans-serif;
  *font-size: small;
  *font: x-small;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
em,
strong,
pre,
code {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
table {
  font-size: inherit;
  font: 100%;
}
ul {
  list-style: none;
}
img {
  border: 0;
}
p {
  margin: 1em 0;
}
/*--------- reset styles END ----------*/
@font-face {
  font-family: 'Digital';
  src: url('../fonts/Digital-7Mono.eot?') format('eot'), url('../fonts/Digital-7Mono.woff') format('woff'), url('../fonts/Digital-7Mono.ttf') format('truetype'), url('../fonts/Digital-7Mono.svg#Digital-7Mono') format('svg');
}
.page-wrapper {
  background: url("../img/paper-bg-gallery.png") no-repeat;
  margin: 100px auto ;
  position: relative;
  padding: 66px 40px 0 60px;
  width: 860px;
}
.gallery-wrapper {
  height: 850px;
  overflow: hidden;
  position: relative;
  width: 850px;
}
.thumbs {
  overflow: hidden;
  height: 546px;
}
.nav-bar {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-bar .btn {
  display: block;
  position: absolute;
}
.nav-bar .btn.home {
  background: url("../img/btn-home.png") no-repeat;
  left: 86px;
  top: -73px;
  width: 242px;
  height: 98px;
}
.nav-bar .btn.home:hover {
  background-image: url("../img/btn-home-hover.png");
}
.nav-bar .btn.slot {
  background: url("../img/btn-slot.png") no-repeat;
  right: 152px;
  top: -84px;
  width: 242px;
  height: 98px;
}
.nav-bar .btn.slot:hover {
  background-image: url("../img/btn-slot-hover.png");
}
/*--- Gallery ---*/
div.content {
  /* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
  display: none;
  float: right;
  width: 550px;
}
div.content a,
div.navigation a {
  text-decoration: none;
  color: #404040;
  font-size: 18px;
}
div.content a:focus,
div.content a:hover,
div.content a:active {
  text-decoration: underline;
}
div.controls {
  margin-top: 5px;
  height: 23px;
}
div.controls a {
  padding: 5px;
}
div.ss-controls {
  float: left;
}
div.nav-controls {
  float: right;
}
div.slideshow-container {
  position: relative;
  clear: both;
  height: 502px;
  /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  width: 550px;
  height: 502px;
  /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow span.image-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
div.slideshow a.advance-link {
  display: block;
  width: 550px;
  height: 502px;
  /* This should be set to be at least the height of the largest image in the slideshow */
  line-height: 502px;
  /* This should be set to be at least the height of the largest image in the slideshow */
  text-align: center;
}
div.slideshow a.advance-link:hover,
div.slideshow a.advance-link:active,
div.slideshow a.advance-link:visited {
  text-decoration: none;
}
div.slideshow img {
  vertical-align: middle;
  border: 1px solid #AB8654;
  padding: 2px;
}
div.download {
  float: right;
}
div.caption-container {
  position: relative;
  clear: left;
  height: 85px;
}
span.image-caption {
  display: block;
  position: absolute;
  width: 550px;
  top: 0;
  left: 0;
}
div.caption {
  padding: 12px;
}
div.image-title {
  font-weight: bold;
  font-size: 1.4em;
  display: none;
}
div.image-desc {
  line-height: 1.3em;
  padding-top: 12px;
  display: none;
}
div.navigation {
  /* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
  clear: both;
  margin: 0;
  padding: 0;
}
ul.thumbs li {
  float: left;
  padding: 0;
  margin: 5px 10px 5px 0;
  list-style: none;
}
a.thumb {
  padding: 2px;
  display: block;
  border: 1px solid #AB8654;
}
ul.thumbs li.selected a.thumb {
  background: #000;
}
a.thumb:focus {
  outline: none;
}
ul.thumbs img {
  border: none;
  display: block;
}
div.pagination {
  clear: both;
}
div.navigation div.top {
  margin-bottom: 12px;
  height: 11px;
}
div.navigation div.bottom {
  margin-top: 12px;
}
div.pagination a,
div.pagination span.current,
div.pagination span.ellipsis {
  display: block;
  float: left;
  margin-right: 3px;
  padding: 4px 7px 2px 7px;
  background-color: rgba(171, 134, 84, 0.5);
  border: 1px solid #AB8654;
}
div.pagination a:hover,
div.pagination span.current:hover,
div.pagination span.ellipsis:hover {
  background-color: rgba(171, 134, 84, 0.7);
}
div.pagination a:hover {
  text-decoration: none;
}
div.pagination span.current {
  font-weight: bold;
  background-color: rgba(171, 134, 84, 0.9);
  font-size: 18px;
}
div.pagination span.ellipsis {
  border: none;
  padding: 5px 0 3px 2px;
}
/*--- Gallery End---*/
div.controls {
  font-size: 16px;
  color: #000;
}
.slot-paper-bg {
  background: url("../img/paper-bg-slot.png") no-repeat;
  width: 1250px;
  height: 960px;
  margin: 10px auto;
  padding-top: 40px;
}
.slot-machine {
  display: block;
  width: 1000px;
  height: 650px;
  background: url("../img/slot-machine-BG.png") no-repeat;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.slot-machine .nav-bar {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slot-machine .nav-bar .btn {
  display: block;
  position: absolute;
}
.slot-machine .nav-bar .btn.home {
  background: url("../img/btn-home.png") no-repeat;
  top: -20px;
  left: 72px;
  width: 242px;
  height: 98px;
}
.slot-machine .nav-bar .btn.home:hover {
  background: url("../img/btn-home-hover.png");
}
.slot-machine .nav-bar .btn.gallery {
  background: url("../img/btn-photos.png") no-repeat;
  top: -20px;
  right: 72px;
  width: 242px;
  height: 98px;
}
.slot-machine .nav-bar .btn.gallery:hover {
  background: url("../img/btn-photos-hover.png");
}
.lines-picker {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.lines-picker .line {
  position: absolute;
  display: block;
  width: 70px;
  height: 90px;
  background-repeat: no-repeat;
  z-index: 14;
  cursor: pointer;
}
.lines-picker .line:hover img,
.lines-picker .line.showImg img {
  display: block;
}
.lines-picker .line img {
  position: absolute;
  z-index: 16;
  display: none;
}
.lines-picker .line.l1 {
  bottom: 240px;
  left: 0;
  background-image: url("../img/l1.png");
}
.lines-picker .line.l1 img {
  left: 70px;
  top: 40px;
}
.lines-picker .line.l2 {
  bottom: 440px;
  left: 0;
  background-image: url("../img/l2-dis.png");
}
.lines-picker .line.l2 img {
  left: 70px;
  top: 66px;
}
.lines-picker .line.l3 {
  bottom: 140px;
  left: 0;
  background-image: url("../img/l3-dis.png");
}
.lines-picker .line.l3 img {
  left: 70px;
  bottom: -16px;
}
.lines-picker .line.l4 {
  bottom: 340px;
  left: 0;
  background-image: url("../img/l4-dis.png");
}
.lines-picker .line.l4 img {
  left: 110px;
  top: -50px;
}
.lines-picker .line.l5 {
  bottom: 40px;
  left: 0;
  background-image: url("../img/l5-dis.png");
}
.lines-picker .line.l5 img {
  bottom: 50px;
  left: 105px;
}
.lines-picker .line.l6 {
  bottom: 400px;
  right: 0;
  background-image: url("../img/l6-dis.png");
}
.lines-picker .line.l6 img {
  bottom: -115px;
  right: 100px;
}
.lines-picker .line.l7 {
  bottom: 300px;
  right: 0;
  background-image: url("../img/l7-dis.png");
}
.lines-picker .line.l7 img {
  bottom: -160px;
  right: 85px;
}
.lines-picker .line.l8 {
  bottom: 200px;
  right: 0;
  background-image: url("../img/l8-dis.png");
}
.lines-picker .line.l8 img {
  bottom: -96px;
  right: 85px;
}
.lines-picker .line.l9 {
  bottom: 100px;
  right: 0;
  background-image: url("../img/l9-dis.png");
}
.lines-picker .line.l9 img {
  right: 145px;
  top: -284px;
}
.lines-picker .line:hover.l2,
.lines-picker .line.active.l2 {
  background-image: url("../img/l2.png");
}
.lines-picker .line:hover.l3,
.lines-picker .line.active.l3 {
  background-image: url("../img/l3.png");
}
.lines-picker .line:hover.l4,
.lines-picker .line.active.l4 {
  background-image: url("../img/l4.png");
}
.lines-picker .line:hover.l5,
.lines-picker .line.active.l5 {
  background-image: url("../img/l5.png");
}
.lines-picker .line:hover.l6,
.lines-picker .line.active.l6 {
  background-image: url("../img/l6.png");
}
.lines-picker .line:hover.l7,
.lines-picker .line.active.l7 {
  background-image: url("../img/l7.png");
}
.lines-picker .line:hover.l8,
.lines-picker .line.active.l8 {
  background-image: url("../img/l8.png");
}
.lines-picker .line:hover.l9,
.lines-picker .line.active.l9 {
  background-image: url("../img/l9.png");
}
.slot-machine-items {
  width: 905px;
  height: 480px;
  position: absolute;
  top: 116px;
  left: 50px;
  overflow: hidden;
  z-index: 12;
}
.slot-machine-items .col {
  float: left;
  width: 160px;
  height: 486px;
  margin-right: 25px;
  overflow: hidden;
  position: relative;
}
.slot-machine-items .col.c5 {
  margin-right: 0;
}
.slot-machine-items .scroll_old,
.slot-machine-items .scroll_new {
  position: absolute;
  bottom: 0;
  left: 0;
}
.slot-machine-items .item {
  display: block;
  height: 162px;
}
.btn-paytable {
  background: url("../img/btn-paytable.png") no-repeat;
  bottom: 58px;
  display: block;
  height: 50px;
  left: 178px;
  position: absolute;
  width: 142px;
}
.btn-paytable:hover {
  background-image: url("../img/btn-paytable-hover.png");
}
.btn-howto {
  background: url("../img/btn-howto.png") no-repeat;
  bottom: 58px;
  display: block;
  height: 50px;
  right: 190px;
  position: absolute;
  width: 142px;
}
.btn-howto:hover {
  background-image: url("../img/btn-howto-hover.png");
}
.slot-machine-control {
  margin: 5px auto auto;
  z-index: 20;
  display: block;
  background: url("../img/slot-machine-controls-BG.png") no-repeat;
  width: 1000px;
  height: 140px;
  position: relative;
}
.btn-play {
  background: url("../img/btn-play.png") no-repeat;
  display: block;
  height: 86px;
  left: 454px;
  position: absolute;
  top: 15px;
  width: 86px;
  /*&:active{
    background-image: url("../img/btn-play-active.png");
  }*/
}
.btn-play:hover {
  background-image: url("../img/btn-play-active.png");
}
.btn-bet-lines {
  background: url("../img/btn-bet-lines.png") no-repeat;
  display: block;
  height: 83px;
  left: 344px;
  position: absolute;
  top: 17px;
  width: 130px;
}
.btn-bet-lines:hover {
  background-image: url("../img/btn-bet-lines-hover.png");
}
.btn-bet-max {
  background: url("../img/btn-bet-max.png") no-repeat;
  display: block;
  height: 83px;
  left: 519px;
  position: absolute;
  top: 17px;
  width: 130px;
}
.btn-bet-max:hover {
  background-image: url("../img/btn-bet-max-hover.png");
}
.btn-leaderboard {
  background: url("../img/btn-leaderboard.png") no-repeat;
  display: block;
  height: 43px;
  left: 10px;
  position: absolute;
  bottom: 4px;
  width: 155px;
}
.btn-leaderboard:hover {
  background-image: url("../img/btn-leaderboard-hover.png");
}
.btn-get-win {
  background: url("../img/btn-get-win.png") no-repeat;
  display: block;
  height: 44px;
  right: 10px;
  position: absolute;
  bottom: 4px;
  width: 155px;
}
.btn-get-win:hover {
  background-image: url("../img/btn-get-win-hover.png");
}
.digital {
  font-family: 'Digital';
  color: white;
  display: block;
  position: absolute;
  font-size: 30px;
}
.digital.bet {
  left: 18px;
  top: 44px;
}
.digital.win {
  top: 43px;
  right: 22px;
}
.bet-description {
  position: absolute;
  bottom: 8px;
  left: 340px;
  color: #ffffff;
  font-size: 20px;
}
.bet-description .item-inner span {
  font-weight: 600;
}
.user-info {
  position: relative;
  width: 1000px;
  z-index: 15;
  margin: 0 auto;
}
.input-id {
  background: url("../img/input-id.png") no-repeat;
  border: 0 none !important;
  color: #FFFFFF;
  display: block;
  height: 67px;
  left: 40px;
  outline: 0 none !important;
  padding: 12px 40px 0 85px;
  font-size: 20px;
  position: absolute;
  top: -58px;
  width: 120px;
}
.input-id:hover {
  background-image: url("../img/input-id-hover.png");
}
.input-name {
  background: url("../img/input-name.png") no-repeat;
  border: 0 none !important;
  color: #FFFFFF;
  display: block;
  font-size: 20px;
  height: 67px;
  outline: 0 none !important;
  padding: 12px 36px 0 130px;
  position: absolute;
  right: 40px;
  top: -58px;
  width: 80px;
}
.input-name:hover {
  background-image: url("../img/input-name-hover.png");
}
.button {
  cursor: pointer;
}
.message {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  width: 300px;
  margin: 0 0 0 -150px;
  top: -50px;
  left: 50%;
  transition: top 2s;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  background: rgba(255, 255, 255, 0.67);
  font-size: 18px;
  z-index: 15;
  color: #5c3809;
}
.message.in {
  top: 5px;
}
/*Table*/
.leaderboard-wrapper {
  overflow-x: hidden;
  max-height: 300px;
}
.leaderboard-wrapper table {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}
.leaderboard-wrapper table td,
.leaderboard-wrapper table th {
  padding: 5px 8px;
  font-size: 14px;
  color: #cfbf8b;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  background: #281812;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: 'PT Serif Caption', serif;
  font-weight: 400;
}
.main-wrapper {
  width: 960px;
  margin: 0 auto;
}
.s-header-inner {
  width: 100%;
  height: 77px;
  background: url(../img/top-bg-wood.png) repeat-x;
}
.s-header-inner .b-logo {
  text-align: center;
  overflow: hidden;
}
.s-header-inner .b-logo .star {
  background: url("../img/star.png") no-repeat;
  height: 56px;
  width: 56px;
  position: relative;
  top: 10px;
  -o-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -webkit-transition-duration: 5s;
  transition-duration: 5s;
}
.s-header-inner .b-logo .star.left {
  float: left;
}
.s-header-inner .b-logo .star.rigth {
  float: right;
}
.s-header-inner .b-logo:hover .star {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.s-header-inner .b-logo .b-welcome {
  display: inline-block;
  background: url("../img/logo-welcome.png") no-repeat;
  width: 694px;
  height: 64px;
  position: relative;
  top: 10px;
}
.s-banner-inner {
  background-color: #1B0202;
}
.s-banner-inner .banner {
  margin: 0 auto;
  display: block;
  position: relative;
  height: 500px;
}
.s-spin-reels {
  background: url('../img/mid-bg-wood.png') repeat-x 0 0;
  height: 170px;
}
.s-spin-reels .spin-reels {
  margin: 0 auto;
  display: block;
}
.s-leaderboard-inner {
  height: 400px;
  color: #764739;
  text-align: center;
  /*background-color: rgba(255, 255, 255,0.1);*/
}
.s-leaderboard-inner .b-title {
  margin: 20px auto 5px;
  background: url("../img/item-decoration-top.png") no-repeat center top;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 30px;
}
.s-leaderboard-inner .b-title:after {
  content: "";
  display: block;
  background: url("../img/sep-line-top.png") center bottom no-repeat;
  width: 545px;
  height: 15px;
  clear: both;
  margin: 0 auto;
}
.s-leaderboard-inner .b-footer {
  margin: 20px auto 5px;
  background: url("../img/item-decoration-bottom.png") no-repeat center bottom;
  padding-top: 8px;
  padding-bottom: 25px;
  font-size: 30px;
  position: relative;
}
.s-leaderboard-inner .b-footer:after {
  content: "";
  display: block;
  background: url("../img/sep-line-bottom.png") center bottom no-repeat;
  width: 545px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -273px;
}
.s-letsplay-inner {
  color: #281812;
  background-color: #80af8d;
  height: 120px;
  position: relative;
  display: block;
  text-align: center;
}
.s-letsplay-inner a {
  color: #281812;
  text-decoration: none;
  font-size: 40px;
  line-height: 110px;
}
.s-letsplay-inner a:hover {
  text-decoration: underline;
}
.s-letsplay-inner .shadow-top {
  position: absolute;
  background: url("../img/border-with-shadow-top.png") repeat-x;
  height: 11px;
  width: 100%;
  top: 0;
  left: 0;
}
.s-letsplay-inner .shadow-bottom {
  position: absolute;
  background: url("../img/border-with-shadow-bottom.png") repeat-x;
  height: 11px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.s-letsplay-inner .horseshoe {
  display: inline-block;
  height: 70px;
  position: relative;
  top: 26px;
  width: 70px;
}
.s-letsplay-inner .horseshoe.left {
  float: left;
  background: url("../img/horseshoe-left.png") no-repeat;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.s-letsplay-inner .horseshoe.right {
  float: right;
  background: url("../img/horseshoe-right.png") no-repeat;
  -o-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}
.s-letsplay-inner:hover .horseshoe.left {
  -moz-transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  transform: rotate(70deg);
}
.s-letsplay-inner:hover .horseshoe.right {
  -moz-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
.s-photo-wall-inner {
  height: 780px;
  position: relative;
}
.s-photo-wall-inner .photo {
  display: block;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.s-photo-wall-inner .photo img {
  width: 100%;
  height: auto;
  -o-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.s-photo-wall-inner .photo:hover img {
  width: 104%;
  margin-left: -2%;
}
.s-photo-wall-inner .photo.f1 {
  left: 100px;
  top: 60px;
  padding: 20px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.s-photo-wall-inner .photo.f1:before {
  background: url("../img/photo-frame-1.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
}
.s-photo-wall-inner .photo.f2 {
  left: -80px;
  bottom: 90px;
  padding: 20px;
  width: 246px;
  height: 296px;
  overflow: hidden;
}
.s-photo-wall-inner .photo.f2:before {
  background: url("../img/photo-frame-2.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
}
.s-photo-wall-inner .photo.f3 {
  right: 160px;
  top: 10px;
  padding: 28px;
  width: 150px;
  height: 208px;
  overflow: hidden;
}
.s-photo-wall-inner .photo.f3:before {
  background: url("../img/photo-frame-3.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
}
.s-photo-wall-inner .photo.f4 {
  right: -100px;
  bottom: 150px;
  padding: 45px;
  width: 240px;
  height: 180px;
  overflow: hidden;
}
.s-photo-wall-inner .photo.f4:before {
  background: url("../img/photo-frame-4.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
}
.s-photo-wall-inner .cowboy-bg {
  background: url("../img/photo-coewboy-bg.png") no-repeat;
  bottom: 0;
  display: block;
  height: 530px;
  left: 250px;
  position: absolute;
  width: 418px;
}
.s-footer {
  height: 250px;
  background: url("../img/bottom-bg-wood.jpg") repeat;
  position: relative;
}
.s-footer .shadow-top {
  background: url("../img/border-with-shadow-top.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  height: 11px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.s-salon-menu {
  height: 300px;
  padding-bottom: 20px;
  position: relative;
}
.da-slide {
  background: url("../img/home-bammer.png") no-repeat center center;
  color: white;
}
.da-slide p {
  color: white;
}
/*body {
    font-family: 'Open Sans Condensed', serif;
    color: @main-text;
}

.main-wrapper {
    height: 100%;
    position: relative;
}

.transparent-bg {
    position: absolute;
    width: 960px;
    top: 0;
    left: 50%;
    margin-left: -960/2px;
    height: 1350px;
    background: url("../img/main-wrapper-bg.png") no-repeat center 20px;
    overflow: hidden;
}

.main-content-inner {
    position: relative;
    z-index: 2;
    width: 960px;
    margin: 0 auto;
}

.page-title {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: @light-text;
    font-size: 54px;
    line-height: 0.9;
    font-family: 'Frijole';

    .company-name, h2 {
        font-size: 70%;
        color: @main-text;
    }
}


.s-menu {
    padding: 20px 50px;

    h2 {
        text-align: right;
        font-size: 50px;
        color: @main-text;
    }
}

.menu-layout {
    overflow: hidden;
    width: 100%;
    p { 
            font-size: 16px;
            font-family: serif;
            line-height: 1.3;
        }

    & > li {
        float: left;
        padding: 20px 1%;
        margin: 20px 1%;
        width: 21%;
        background-color: rgba(198,157,73,0.5);
        height: 200px;
    }

    .b-title {
        display: block;
        font-size: 12px;
        height: 40px;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: center;

        img {
            height: 30px;
            width: auto;
            margin-bottom: -10px;
        }
        
    }

    .sub-menu {
        li {
            padding-left: 54px;
            margin-bottom: 10px;
            background: url(../img/icon-hand-pointing.png) no-repeat;
            line-height: 1.2;
            font-size: 16px;
            font-family: serif;
        }
    }
}

.slider {
    width: 360px;
    height: 360px;
    background-color: rgba(198,157,73,0.5);
    position: relative;
    left: 50px;
}

.row-inner {
    overflow: hidden;

    .slider {
        float: left;
    }
}

.cycle-slideshow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
        width: 100%
    }
}
.center {
    position: relative;
    z-index: 100;
}
.slider-arrow {
    position: absolute;
    top: 170px;
    display: block;
    width: 30px;
    height: 50px;
    &#prev{
        background: url(../img/arrow-left.png) no-repeat;
        left:-50px;
        &:hover {
            background-image: url(../img/arrow-left-hover.png);
        }
    }
    &#next{
        background: url(../img/arrow-right.png) no-repeat;
        right:-50px;
        &:hover {
            background-image: url(../img/arrow-right-hover.png);
        }
    }
}


.button{
  cursor: pointer;
}
.results-inner {
  height: 530px;
  width: 400px;
  overflow: hidden;
}
.table-results {
  width: 470px;
  color: #F4F4F4;
  font-size: 12px;
  margin: 120px 7% 30px;
  line-height: 1.1;
  padding-left: 20px;
  height: 627px;
  overflow-x: scroll;
  li {
    height: 35px;
    padding: 8px 0;
    span {
      display: inline-block;
      word-wrap: break-word;
    }
    &:nth-child(2) {
      color:#B5B5B5;
    }
  }
  .name {
    width: 125px;
    font-size: 14px;
    font-weight: 600;
  }
  .number {
    width: 65px;
  }
  .win {
    width: 75px;
    font-weight: 600;
  }
  .games {
    width: 30px;
  }
}
.col-left {
  float: left;
  width: 410px;
  margin-left: 60px;
  height: 1000px;
  background: url("../img/left-col-home-bg.png") no-repeat;
}

.b-leaderboard {
  display: block;
  float: left;
  height: 600px;
  width: 400px;
  margin-left: 60px;
  margin-top: 22px;

  background: url("../img/leaders-table-home.png") no-repeat;
  position: absolute;
  top: 580px;
  left: 36px;
  .star {
    position: absolute;
    top: 40px;
    display: block;
    height: 56px;
    width: 56px;
    background: url("../img/star_disabled.png") no-repeat;
    &.left{
      left: 24px;
      transition-duration: 4s;
      -webkit-transition-duration: 4s;
    }
    &.right{
      right: 24px;
      transition-duration: 5.1s;
      -webkit-transition-duration: 4.8s;
    }
  }
  &:hover {
    .star {
      transform: rotate(360deg);
    }
  }
}
.col-right {
  width: 450px;
  float: right;
  position: relative;
  margin-right: 40px;
  height: 1000px;
}

.b-slot-machine {
  outline: none;
  display: block;
  padding-right: 50px;
  position: absolute;
  padding-bottom: 70px;
  bottom: 0;
}
.btn-lets-play {
  background: url("../img/btn-lets-play.png") no-repeat;
  bottom: 0px;
  display: block;
  height: 50px;
  right: 53px;
  position: absolute;
  width: 155px;
  &:hover{
    background-image: url("../img/btn-lets-play-hover.png");
  }
}*/
