<span data-number="1" class="l1 line">
                <img src="img/line-samples/line1.png" alt=""/>
            </span>
<span data-number="2" class="l2 line">
                <img src="img/line-samples/line2.png" alt=""/>
            </span>
<span data-number="3" class="l3 line">
                <img src="img/line-samples/line3.png" alt=""/>
            </span>
<span data-number="4" class="l4 line">
                <img src="img/line-samples/line4.png" alt=""/>
            </span>
<span data-number="5" class="l5 line">
                <img src="img/line-samples/line5.png" alt=""/>
            </span>
<span data-number="6" class="l6 line">
                <img src="img/line-samples/line6.png" alt=""/>
            </span>
<span data-number="7" class="l7 line">
                <img src="img/line-samples/line7.png" alt=""/>
            </span>
<span data-number="8" class="l8 line">
                <img src="img/line-samples/line8.png" alt=""/>
            </span>
<span data-number="9" class="l9 line">
                <img src="img/line-samples/line9.png" alt=""/>
            </span>