<div data-item="1" class="col c1">
    <div class="scroll_old">
        <span class="item i10"><img src="img/items/10.png" alt=""/></span>
        <span class="item iA"><img src="img/items/A.png" alt=""/></span>
        <span class="item ibeer"><img src="img/items/beer.png" alt=""/></span>
    </div>
</div>
<div data-item="2" class="col c2">
    <div class="scroll_old">
        <span class="item ibull"><img src="img/items/bull.png" alt=""/></span>
        <span class="item igun"><img src="img/items/gun.png" alt=""/></span>
        <span class="item ihat"><img src="img/items/hat.png" alt=""/></span>
    </div>
</div>
<div data-item="3"  class="col c3">
    <div class="scroll_old">
        <span class="item iJ"><img src="img/items/J.png" alt=""/></span>
        <span class="item iK"><img src="img/items/K.png" alt=""/></span>
        <span class="item iQ"><img src="img/items/Q.png" alt=""/></span>
    </div>

</div>
<div data-item="4"  class="col c4">
    <div class="scroll_old">
        <span class="item ishouse"><img src="img/items/shouse.png" alt=""/></span>
        <span class="item istar"><img src="img/items/star.png" alt=""/></span>
        <span class="item iJ"><img src="img/items/J.png" alt=""/></span>
    </div>

</div>
<div  data-item="5" class="col c5">
    <div class="scroll_old">
        <span class="item iJ"><img src="img/items/J.png" alt=""/></span>
        <span class="item iK"><img src="img/items/K.png" alt=""/></span>
        <span class="item iQ"><img src="img/items/Q.png" alt=""/></span>
    </div>

</div>