<span class="digital bet"><%= roundWin %></span>
<span class="digital win"><%= totalWin %></span>
<div class="bet-description">
    <span class="item-inner"><span class="bet-line"><%= bet %> </span>(Bet lines)</span> x
    <span class="item-inner"><span class="line-cost"><%= linecost %> </span>(Line cost)</span> =
    <span class="item-inner"><span class="turn-bet"><%= turnbet %> </span>(Total cost)</span>
</div>
<span data-type="leaderboard" class="btn-leaderboard button"></span>
<span data-type="betlines" class="btn-bet-lines  button"></span>
<span data-type="play" class="btn-play  button"></span>
<span data-type="maxbet" class="btn-bet-max  button"></span>
<span data-type="getwin" class="btn-get-win  button"></span>