<div class="col c1">
    <span class="item i10"><img src="img/items/10.png" alt=""/></span>
    <span class="item iA"><img src="img/items/A.png" alt=""/></span>
    <span class="item ibeer"><img src="img/items/beer.png" alt=""/></span>
</div>
<div class="col c2">
    <span class="item ibull"><img src="img/items/bull.png" alt=""/></span>
    <span class="item igun"><img src="img/items/gun.png" alt=""/></span>
    <span class="item ihat"><img src="img/items/hat.png" alt=""/></span>
</div>
<div  class="col c3">
    <span class="item iJ"><img src="img/items/J.png" alt=""/></span>
    <span class="item iK"><img src="img/items/K.png" alt=""/></span>
    <span class="item iQ"><img src="img/items/Q.png" alt=""/></span>
</div>
<div  class="col c4">
    <span class="item ishouse"><img src="img/items/shouse.png" alt=""/></span>
    <span class="item istar"><img src="img/items/star.png" alt=""/></span>
    <span class="item iJ"><img src="img/items/J.png" alt=""/></span>
</div>
<div  class="col c5">
    <span class="item iJ"><img src="img/items/J.png" alt=""/></span>
    <span class="item iK"><img src="img/items/K.png" alt=""/></span>
    <span class="item iQ"><img src="img/items/Q.png" alt=""/></span>
</div>