/*--------- reset styles ----------*/
body {
  padding: 0;
  margin: 0;
  font: 13px Arial, Helvetica, Garuda, sans-serif;
  *font-size: small;
  *font: x-small;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
em,
strong,
pre,
code {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
table {
  font-size: inherit;
  font: 100%;
}
ul {
  list-style: none;
}
img {
  border: 0;
}
p {
  margin: 1em 0;
}
/*--------- reset styles END ----------*/
.gallery-wrapper {
  width: 960px;
  position: relative;
  top: 50%;
  height: 610px;
  margin: -355px auto auto;
  background-color: #c1a475;
  overflow: hidden;
  padding: 30px 50px;
}
.thumbs {
  overflow: hidden;
  height: 546px;
}
/*--- Gallery ---*/
div.content {
  /* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
  display: none;
  float: right;
  width: 550px;
}
div.content a,
div.navigation a {
  text-decoration: none;
  color: #777;
}
div.content a:focus,
div.content a:hover,
div.content a:active {
  text-decoration: underline;
}
div.controls {
  margin-top: 5px;
  height: 23px;
}
div.controls a {
  padding: 5px;
}
div.ss-controls {
  float: left;
}
div.nav-controls {
  float: right;
}
div.slideshow-container {
  position: relative;
  clear: both;
  height: 502px;
  /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  width: 550px;
  height: 502px;
  /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow span.image-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
div.slideshow a.advance-link {
  display: block;
  width: 550px;
  height: 502px;
  /* This should be set to be at least the height of the largest image in the slideshow */
  line-height: 502px;
  /* This should be set to be at least the height of the largest image in the slideshow */
  text-align: center;
}
div.slideshow a.advance-link:hover,
div.slideshow a.advance-link:active,
div.slideshow a.advance-link:visited {
  text-decoration: none;
}
div.slideshow img {
  vertical-align: middle;
  border: 1px solid #ccc;
}
div.download {
  float: right;
}
div.caption-container {
  position: relative;
  clear: left;
  height: 85px;
}
span.image-caption {
  display: block;
  position: absolute;
  width: 550px;
  top: 0;
  left: 0;
}
div.caption {
  padding: 12px;
}
div.image-title {
  font-weight: bold;
  font-size: 1.4em;
}
div.image-desc {
  line-height: 1.3em;
  padding-top: 12px;
}
div.navigation {
  /* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
  clear: both;
  margin: 0;
  padding: 0;
}
ul.thumbs li {
  float: left;
  padding: 0;
  margin: 5px 10px 5px 0;
  list-style: none;
}
a.thumb {
  padding: 2px;
  display: block;
  border: 1px solid #ccc;
}
ul.thumbs li.selected a.thumb {
  background: #000;
}
a.thumb:focus {
  outline: none;
}
ul.thumbs img {
  border: none;
  display: block;
}
div.pagination {
  clear: both;
}
div.navigation div.top {
  margin-bottom: 12px;
  height: 11px;
}
div.navigation div.bottom {
  margin-top: 12px;
}
div.pagination a,
div.pagination span.current,
div.pagination span.ellipsis {
  display: block;
  float: left;
  margin-right: 2px;
  padding: 4px 7px 2px 7px;
  border: 1px solid #ccc;
}
div.pagination a:hover {
  background-color: #eee;
  text-decoration: none;
}
div.pagination span.current {
  font-weight: bold;
  background-color: #000;
  border-color: #000;
  color: #fff;
}
div.pagination span.ellipsis {
  border: none;
  padding: 5px 0 3px 2px;
}
/*--- Gallery End---*/
html,
body {
  width: 100%;
  height: 100%;
}
html {
  /*background: url(../img/main-bg.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: 'Frijole', 'Amarante', 'Germania One', 'New Rocker', 'Open Sans Condensed', serif;
  color: #000000;
}
.main-wrapper {
  height: 100%;
  position: relative;
}
.transparent-bg {
  position: absolute;
  width: 960px;
  top: 0;
  left: 50%;
  margin-left: -480px;
  height: 1350px;
  background: url("../img/main-wrapper-bg.png") no-repeat center 20px;
  overflow: hidden;
}
.main-content-inner {
  position: relative;
  z-index: 2;
  width: 960px;
  margin: 0 auto;
}
.page-title {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #684500;
  font-size: 54px;
  line-height: 0.9;
}
.page-title .company-name,
.page-title h2 {
  font-size: 70%;
  color: #000000;
}
.star {
  text-align: center;
}
.star li {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 20px;
}
.star a {
  display: block;
  height: 100%;
  transition-duration: 5s;
  -webkit-transition-duration: 5s;
  position: relative;
  background: url("../img/star.png") no-repeat;
}
.star a:hover {
  transform: rotate(360deg);
}
.star a:hover img {
  display: none;
}
.s-menu {
  padding: 20px 50px;
}
.s-menu h2 {
  text-align: right;
  font-size: 50px;
  color: #000000;
}
.menu-layout {
  overflow: hidden;
  width: 100%;
}
.menu-layout p {
  font-size: 16px;
  font-family: serif;
  line-height: 1.3;
}
.menu-layout > li {
  float: left;
  padding: 20px 1%;
  margin: 20px 1%;
  width: 21%;
  background-color: rgba(198, 157, 73, 0.5);
  height: 200px;
}
.menu-layout .b-title {
  display: block;
  font-size: 12px;
  height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
.menu-layout .b-title img {
  height: 30px;
  width: auto;
  margin-bottom: -10px;
}
.menu-layout .sub-menu li {
  padding-left: 54px;
  margin-bottom: 10px;
  background: url(../img/icon-hand-pointing.png) no-repeat;
  line-height: 1.2;
  font-size: 16px;
  font-family: serif;
}
.slider {
  width: 400px;
  height: 400px;
  background-color: rgba(198, 157, 73, 0.5);
  position: relative;
  top: 40px;
  left: 100px;
}
.row-inner {
  overflow: hidden;
}
.row-inner .slider {
  float: left;
}
.row-inner .slot-machine {
  float: right;
  padding-right: 50px;
}
.cycle-slideshow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cycle-slideshow img {
  width: 100%;
}
.center {
  position: relative;
  z-index: 100;
}
.slider-arrow {
  position: absolute;
  top: 0;
  display: block;
  width: 30px;
  height: 50px;
}
.slider-arrow#prev {
  background: url(../img/arrow-left.png) no-repeat;
  left: -50px;
}
.slider-arrow#prev:hover {
  background-image: url(../img/arrow-left-hover.png);
}
.slider-arrow#next {
  background: url(../img/arrow-right.png) no-repeat;
  right: -50px;
}
.slider-arrow#next:hover {
  background-image: url(../img/arrow-right-hover.png);
}
