@import "reset-styles.less";
@import "gallery.less";
@import "slot-machine.less";

html, body {
    width: 100%;
    height: 100%;
}

html {
    background: url(../img/main-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@main-text: #000000;
@light-text: #684500;

body {
    font-family: 'Open Sans Condensed', serif;
    color: @main-text;
}

.main-wrapper {
    height: 100%;
    position: relative;
}

.transparent-bg {
    position: absolute;
    width: 960px;
    top: 0;
    left: 50%;
    margin-left: -960/2px;
    height: 1350px;
    background: url("../img/main-wrapper-bg.png") no-repeat center 20px;
    overflow: hidden;
}

.main-content-inner {
    position: relative;
    z-index: 2;
    width: 960px;
    margin: 0 auto;
}

.page-title {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: @light-text;
    font-size: 54px;
    line-height: 0.9;
    font-family: 'Frijole';

    .company-name, h2 {
        font-size: 70%;
        color: @main-text;
    }
}


.s-menu {
    padding: 20px 50px;

    h2 {
        text-align: right;
        font-size: 50px;
        color: @main-text;
    }
}

.menu-layout {
    overflow: hidden;
    width: 100%;
    p { 
            font-size: 16px;
            font-family: serif;
            line-height: 1.3;
        }

    & > li {
        float: left;
        padding: 20px 1%;
        margin: 20px 1%;
        width: 21%;
        background-color: rgba(198,157,73,0.5);
        height: 200px;
    }

    .b-title {
        display: block;
        font-size: 12px;
        height: 40px;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: center;

        img {
            height: 30px;
            width: auto;
            margin-bottom: -10px;
        }
        
    }

    .sub-menu {
        li {
            padding-left: 54px;
            margin-bottom: 10px;
            background: url(../img/icon-hand-pointing.png) no-repeat;
            line-height: 1.2;
            font-size: 16px;
            font-family: serif;
        }
    }
}

.slider {
    width: 400px;
    height: 400px;
    background-color: rgba(198,157,73,0.5);
    position: relative;
    top: 40px;
    left: 100px;
}

.row-inner {
    overflow: hidden;

    .slider {
        float: left;
    }
    .b-leaderboard {
      display: block;
      float: left;
      height: 600px;
      margin-left: 60px;
      margin-top: 22px;
      width: 400px;
      background: url("../img/leaders-table-home.png") no-repeat;
      position: relative;
      .star {
        position: absolute;
        top: 40px;
        display: block;
        height: 56px;
        width: 56px;
        background: url("../img/star_disabled.png") no-repeat;
        &.left{
          left: 24px;
          transition-duration: 4s;
          -webkit-transition-duration: 4s;
        }
        &.right{
          right: 24px;
          transition-duration: 5.1s;
          -webkit-transition-duration: 4.8s;
        }
      }
      &:hover {
        .star {
          transform: rotate(360deg);
        }
      }
    }

    .b-slot-machine {
      outline: none;
      display: block;
        float: right;
        padding-right: 50px;
      position: relative;
      padding-bottom: 70px;
      .btn-lets-play {
        background: url("../img/btn-lets-play.png") no-repeat;
        bottom: 0px;
        display: block;
        height: 50px;
        right: 53px;
        position: absolute;
        width: 155px;
        &:hover{
          background-image: url("../img/btn-lets-play-hover.png");
        }
      }
    }
}
.s-games {
  padding: 20px;
}
.cycle-slideshow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
        width: 100%
    }
}
.center {
    position: relative;
    z-index: 100;
}
.slider-arrow {
    position: absolute;
    top: 170px;
    display: block;
    width: 30px;
    height: 50px;
    &#prev{
        background: url(../img/arrow-left.png) no-repeat;
        left:-50px;
        &:hover {
            background-image: url(../img/arrow-left-hover.png);
        }
    }
    &#next{
        background: url(../img/arrow-right.png) no-repeat;
        right:-50px;
        &:hover {
            background-image: url(../img/arrow-right-hover.png);
        }
    }
}


.button{
  cursor: pointer;
}
.results-inner {
  height: 530px;
  width: 400px;
  overflow: hidden;
}
.table-results {
  width: 470px;
  color: #F4F4F4;
  font-size: 12px;
  margin: 120px 7% 30px;
  line-height: 1.1;
  padding-left: 20px;
  height: 627px;
  overflow-x: scroll;
  li {
    height: 35px;
    padding: 8px 0;
    span {
      display: inline-block;
      word-wrap: break-word;
    }
    &:nth-child(2) {
      color:#B5B5B5;
    }
  }
  .name {
    width: 125px;
    font-size: 14px;
    font-weight: 600;
  }
  .number {
    width: 65px;
  }
  .win {
    width: 75px;
    font-weight: 600;
  }
  .games {
    width: 30px;
  }
}