
<li>
    <a class="thumb" name="leaf" href="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015.jpg" title="Title #0">
        <img src="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015_s.jpg" alt="Title #0" />
    </a>
    <div class="caption">
        <div class="download">
            <a href="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015_b.jpg">Download Original</a>
        </div>
        <div class="image-title">Title #0</div>
        <div class="image-desc">Description</div>
    </div>
</li>
